body{
font-family: Arial;
background:#f4f4f4;
margin:0;
}

.navbar{
background:#333;
padding:15px;
}

.navbar a{
color:white;
margin-right:15px;
text-decoration:none;
}

.container{
width:60%;
margin:auto;
background:white;
padding:20px;
margin-top:30px;
border-radius:8px;
}

button{
padding:10px 20px;
background:#007BFF;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#0056b3;
}


.question-panel{
margin-top:20px;
}

.question-panel button{
width:40px;
height:40px;
margin:5px;
border:none;
border-radius:5px;
cursor:pointer;
font-weight:bold;
}

.answered{
background-color:#2ecc71;
color:white;
}

.unanswered{
background-color:#e74c3c;
color:white;
}